.bp-nav-avatar {
  img {
    height: 30px;
    left: 55px;
    position: absolute;
    top: 3px;
    width: 30px;
    border-radius: 50%;
  }

  i.fa {
    position: absolute;
    top: 5px;
    font-size: 22px;
    /* left: 36px; */
    color: #4A4949;
    z-index: 10000;
    width: 49px;
    /* background: #222; */
    right: 19px;
    float: right;
    text-align: right;
  }
}

#buddypress-mobile-user-navigation-trigger {
  position: absolute;
  top: 7px;
  z-index: 100000;
}

.mobile-notifications {
  border-radius: 10px;
  display: block;
  font-size: 96%;
  left: 100px;
  position: absolute;
  top: 9px;
  z-index: 1000;

  > li {
    i {
      opacity: 0.6;
      font-size: 100%;
    }
    position: relative;
    top: 3px;
    background: transparent;
    border-radius: 4px;
    float: left;
    list-style: none outside none;
  }

  #notification-counter {
    padding: 1px 6px;
    font-size: 80%;
  }
}

#bp-user-navigation {
  //background: @member-navigation-bg;
  > li > a {
    //color: @navbar-inverse-link-color;
    //border-bottom: 1px solid @brand-primary;
    &:hover {
      //background: @navbar-inverse-link-hover-bg;
      //border-bottom: 2px solid darken(@member-navigation-bg, 3%);
    }
  }

  .notification-nav .sub-arrow {
    display: none;
  }

  .dropdown-menu {
    min-width: 300px;
  }

  #loginform {
    padding: @padding-half;
    min-width: 2 @margin-full;

    input {
      font-size: inherit;
      padding: 8px;
      font-weight: normal;
    }
  }

  #facebook-login {
    background: @navbar-inverse-link-hover-bg;
    border-top: 1px solid darken(@navbar-inverse-link-hover-bg, 1%);
    font-size: @font-size-small;
    margin-bottom: -5px;
    margin-top: -@padding-half;
    padding: 10px 10px 20px;

    span {
      background: transparent;
      padding: 0;
    }
  }

  .dropdown-menu span {
    //background: darken(@white, 10%);
    border-radius: 4px;
    font-size: @font-size-small;
    font-weight: normal;
    padding: 2px 6px;
    color: darken(@white, 50%);
  }

  .sub-arrow {
    display: none;
  }
}

#notification-counter {
  padding: 3px 6px;
  font-size: 70%;
  border-radius: 3px;
  font-weight: bold;
  position: relative;
  left: 1px;
  background: @brand-info;
  top: -2px;
  color: @white;
}

.mobile-content-trigger {
  background: #fff none repeat scroll 0 0;
  bottom: 20px;
  position: fixed;
  right: 0;
  width: 100%;

  a {
    background: @brand-secondary;
    border-radius: 4px;
    display: block;
    font-size: 90%;
    font-weight: bold;
    padding: 5px 50px 3px 13px;
    position: absolute;
    right: 20px;
    color: #fff;
    top: -40px;
    z-index: 1000;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.18);

    i {
      font-size: 27px;
    }

    &:hover {
      opacity: 1;
      background: @brand-primary;

      svg path {
        fill: @white;
      }
    }
  }

  svg {
    fill: #454a54;
    height: 50px;
    position: absolute;
    right: -10px;
    top: -6px;
    width: 50px;
    background: #FFF;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.07);

    path {
      fill: @white;
    }
  }
}