.about-wrap.wefoster-welcome {
  max-width: 100%;
  width: auto;
}

.appearance_page_wefoster-welcome {
  a {
    border-bottom: 0;
    text-decoration: none;
  }

  .update-nag {
    display: none;
  }
}