//Fix padding for admin bar
//Headroom Plugin
.headroom {
  transition: transform 300ms linear;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}

.navbar-collapse {
  position: relative;
}

.navbar {
  border-radius: 0;
  margin-bottom: @margin-full;
}

.container.boxed-header {
  margin-top: @margin-full;
  padding-left: 0;
  padding-right: 0;
  
  #bp-user-navigation {
    margin-right: -@margin-full;
  }
}

.wefoster-framework .header-boxed {
  margin: @margin-half auto 0;
}
//Full Header
.full-header-wrap {
  height: 260px;
  position: relative;
  z-index: 20;
  background-repeat: no-repeat;
  background-size: cover;
  background: @white;
  order: 10;
}

.main {
  order: 1;
}

.site-description-wrap {
  height: 100%;
}

.inside-menu {
  margin-left: auto;
}

.site-description {
  font-size: @font-size-h2;
  color: @text-color;
  
  span {
    display: block;
    font-size: 60%;
    margin-top: @margin-half;
    opacity: 0.5;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .full-header-wrap {
    display: none;
  }
}