//Change our Body Styling on Open Sidebar

.layout-wrapper.sidr-active-body {
  opacity: 0.6;
}

.sidr {
  background: @white;
  border-radius: 0;
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: @offcanvas-width;
  overflow-x: hidden;
  overflow-y: auto;
  
  &.sidr-active {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.18);
  }

  &.sidr-no-transform {
    display: none !important;
  }

  &.right {
    left: auto;
    right: -@offcanvas-width;
  }

  &.left {
    left: -@offcanvas-width;
    right: auto;
  }

  .inner-sidebar {
    margin-top: 0;
  }

  .close-panel-button {
    font-size: 85%;
    font-weight: bold;
    padding: 13px 0;
    z-index: 10000;
    display: block;
    background: @brand-primary;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: @white;
  }
}
//BuddyPress
.sidr {
  #user-sidebar-menu {
    margin-bottom: 0;
    background: #EFEFEF;
    margin-top: 0;
  }

  #buddypress-sidebar-navigation {
    ul li {
      border-bottom: 1px solid darken(@white, 4%);
      
      ul li {
        border-bottom: 0;
      }
    }

    span.sub-arrow {
      position: absolute;
      right: 15px;
    }

    .sub-menu {
      display: none;
      background: darken(@white, 5%);
      
      &.sm-nowrap {
        margin: 0 !important;
        
        li {
          font-size: 90%;
        }
      }
    }
  }
}

#mobile-primary-navigation {
  h4 {
    background: darken(@white, 2%) none repeat scroll 0 0;
    font-size: 21px;
    padding: 15px 35px;
  }

  .collapse {
    display: block !important;
  }
  //This is a vertical version of the default Bootstrap Navbar
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left: 0;
    padding-right: 0;
  }

  li a:hover {
    background: transparent;
  }

  li ul li {
    list-style: none;
  }

  &.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

  &.in {
    overflow-x: visible;
  }

  .navbar {
    max-width: 300px;
    margin-right: 0;
    margin-left: 0;
  }

  .sub-arrow {
    display: none;
  }

  .navbar-nav,
  .navbar-nav > li,
  .navbar-left,
  .navbar-right,
  .navbar-header {
    float: none !important;
    
    li a {
      border-bottom: 1px solid #f8f7f7;
      padding: @padding-half @padding-full;
    }
  }

  .navbar-right .dropdown-menu {
    left: 0;
    right: auto;
  }

  .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 567px) {
  .sidr.right {
    width: 240px;
    right: -240px;
  }

  .sidr.left {
    width: 240px;
    left: -240px;
  }
}
/* perfect-scrollbar v0.6.10 */
.ps-container {
  -ms-touch-action: none;
  touch-action: none;
  overflow: hidden !important;
  -ms-overflow-style: none;
}

@supports (-ms-overflow-style: none) {
  .ps-container {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  .ps-container {
    overflow: auto !important;
  }
}

.ps-container.ps-active-x > .ps-scrollbar-x-rail,
.ps-container.ps-active-y > .ps-scrollbar-y-rail {
  display: block;
  background-color: transparent;
}

.ps-container.ps-in-scrolling {
  pointer-events: none;
}

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: #eee;
  opacity: 0.9;
}

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: #999;
}

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #eee;
  opacity: 0.9;
}

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #999;
}

.ps-container > .ps-scrollbar-x-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
  -o-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  bottom: 3px;
  /* there must be 'bottom' for ps-scrollbar-x-rail */
  height: 8px;
}

.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  position: absolute;
  /* please don't change 'position' */
  background-color: #aaa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  bottom: 0;
  /* there must be 'bottom' for ps-scrollbar-x */
  height: 8px;
}

.ps-container > .ps-scrollbar-y-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
  -o-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  right: 3px;
  /* there must be 'right' for ps-scrollbar-y-rail */
  width: 8px;
}

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  position: absolute;
  /* please don't change 'position' */
  background-color: #aaa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  right: 0;
  /* there must be 'right' for ps-scrollbar-y */
  width: 8px;
}

.ps-container:hover.ps-in-scrolling {
  pointer-events: none;
}

.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: #eee;
  opacity: 0.9;
}

.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: #999;
}

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #eee;
  opacity: 0.9;
}

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #999;
}

.ps-container:hover > .ps-scrollbar-x-rail,
.ps-container:hover > .ps-scrollbar-y-rail {
  opacity: 0.6;
}

.ps-container:hover > .ps-scrollbar-x-rail:hover {
  background-color: #eee;
  opacity: 0.9;
}

.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
  background-color: #999;
}

.ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color: #eee;
  opacity: 0.9;
}

.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  background-color: #999;
}