/*!
 * This stylesheet is only loaded on the login pages.
 Version: 1.1.2
 */
body {
  background: #454a54;
}
.login #backtoblog a,
.login #nav a,
.login h1 a {
  color: #fff;
}
.login #backtoblog a:hover,
.login #nav a:hover,
.login h1 a:hover {
  color: #FEB43E;
}
.wp-core-ui .button-primary {
  background: #FEB43E;
  border: 1px solid #feb034;
}
.wp-core-ui .button-primary:hover {
  background: #fea415;
  border: 1px solid #fea00b;
}
#loginform {
  background: #fff;
  border: 6px solid #505662;
  border-radius: 2px;
}
