.small-font-uppercase {
  font-size: 75%;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.medium-font-uppercase {
  .small-font-uppercase();
  font-size: 85%;
}

.heading-font {
  font-family: @headings-font-family;
}

.navigation-font {
  font-family: @navigation-font-family;
}
