//Hide The Group Header.
.groups.forum {
  #item-header,
  .buddypress-component-title,
  .bbp-template-notice.info {
    display: none;
  }
}

.bbp-topic-meta img.avatar,
.bbp-topic-description img.avatar,
.bbp-footer {
  display: none;
}

.forum,
.bbpress {
  #bbpress-forums {
    h3 {
      font-size: 2em;
    }
  }

  #item-header,
  #item-header-content,
  #item-actions,
  .page-header,
  .bbp-template-notice .bbp-author-avatar,
  .bbp-template-notice,
  + .bbp-pagination {
    
    //display: none;
  }
}

.forum #item-body {
  margin-left: -@margin-full;
  margin-right: -@margin-full;
  padding-left: @padding-full;
  padding-right: @padding-full;
}

.wefoster-framework #bbpress-forums {
  position: relative;
  
  .bbp-header .bbp-reply-content {
    text-indent: -99999px;
    color: @white;
    
    span {
      display: inline;
      text-indent: 0 !important;
    }
  }

  div.bbp-topic-content a,
  div.bbp-reply-content a {
    color: #fff;
    font-size: 75%;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  .bbp-topic-permalink {
    font-weight: 600;
  }
  font-size: @font-size-base;
  overflow: inherit;
  
  > h3 {
    background: none repeat scroll 0 0 @brand-secondary;
    border-bottom: 0 none;
    color: #fff;
    font-size: 32px;
    margin: -@margin-full -@margin-full 0;
    padding: @padding-half @padding-full;
    position: relative;
    z-index: 0;
    margin-bottom: @padding-full;
  }

  //Input Fields
  fieldset.bbp-form p,
  fieldset.bbp-form textarea,
  fieldset.bbp-form select,
  fieldset.bbp-form input {
    margin: @margin-half 0;
  }

  div.even,
  #bbpress-forums ul.even,
  div.odd,
  ul.odd {
    background: transparent;
  }

  ul.bbp-lead-topic,
  ul.bbp-topics,
  ul.bbp-forums,
  ul.bbp-replies,
  ul.bbp-search-results,
  .bbp-user-section {
    margin-left: -@margin-full;
    margin-right: -@margin-full;
    overflow: inherit;
    padding-left: @padding-full;
    padding-right: @padding-full;
    font-size: @font-size-base;
    line-height: inherit;
    border: none;
  }

  div.bbp-template-notice p {
    font-size: @font-size-base;
    line-height: inherit;
  }

  div.bbp-forum-header,
  div.bbp-topic-header,
  div.bbp-reply-header,
  li.bbp-body div.hentry {
    padding: 0;
  }

  .bbp-reply-content p {
    margin-bottom: @margin-half;
  }

  li.bbp-body div.hentry {
    padding-top: @padding-half;
  }

  .bbp-pagination-count {
    font-size: 85%;
    color: @gray;
  }

  .bbp-topic-freshness {
    font-size: 90%;
  }

  .bbp-topic-meta {
    color: @gray-light;
  }

  li.bbp-body ul.forum,
  li.bbp-body ul.topic {
    border-top: 1px solid #f5f4f4;
    overflow: hidden;
    padding: @padding-half;
  }

  div.bbp-reply-header {
    font-family: @headings-font-family;
    background-color: transparent;
    font-family: inherit;
    font-size: 75%;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: @padding-half;
    margin-top: 8px;
    text-transform: uppercase;
    
    .bbp-reply-post-date {
      float: right;
      font-size: 90%;
      margin-left: 12px;
    }
  }

  .bbp-header {
    .bbp-reply-author {
      background: transparent;
    }
  }

  div.bbp-forum-author img.avatar,
  div.bbp-topic-author img.avatar,
  div.bbp-reply-author img.avatar {
    border: medium none;
    border-bottom: 3px solid @brand-complimentary;
    border-radius: 0;
    float: none;
    margin: 0 auto 10px;
    max-width: 100%;
    height: auto;
    padding: 0;
  }

  .hentry:hover {
    .bbp-header {
      height: auto;
      opacity: 1;
    }
  }

  div.bbp-topic-author a.bbp-author-name,
  div.bbp-reply-author a.bbp-author-name {
    line-height: 140%;
  }

  .bbp-forums-list {
    border-left: 0;
    
    li {
      display: block;
      font-size: 90%;
      padding-top: 5px;
    }
  }

  .bbp-forum-content {
    color: @gray-light;
    
    p {
      font-size: 90%;
      padding-left: 20px;
      padding-top: 10px;
    }
  }

  .bbp-header {
    .bbp-topic-title {
      font-size: 100%;
    }
  }

  div.bbp-topic-tags {
    float: left;
    font-size: 80%;
    margin-bottom: 15px;
    margin-top: -30px;
    padding-top: 8px;
    position: relative;
    z-index: 10;
    width: 70%;
    
    p {
      max-width: 100%;
    }
  }

  .bbp-breadcrumb {
    float: none;
    font-size: 90%;
    margin-bottom: @padding-half;
    margin-top: @padding-half;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #f9f9f9;
  }

  li.bbp-header {
    background: transparent none repeat scroll 0 0;
    border-top: 0 none;
    color: @text-color;
    left: 0;
    position: absolute;
    right: 0;
    top: -30px;
    
    a,
    span {
      color: @text-color;
    }
  }

  //Custom Layout for WeFoster.co
  .bbp-reply-author {
    font-family: @headings-font-family;
    width: 12%;
    background: darken(@white, 5%);
    border-radius: 2px;
    
    //border: 1px solid darken(@white, 7%);
    a {
      font-size: 90%;
    }

    br {
      display: none;
    }
  }

  div.bbp-forum-header,
  div.bbp-topic-header,
  div.bbp-reply-header {
    border: 0;
  }

  //New Topic Forms
  fieldset.bbp-form {
    #whats-new-form();
    margin-bottom: ( -@margin-full - 20 );
    
    legend {
      border-bottom: 0 none;
      margin-top: 0;
      padding: 30px 5px;
      position: relative;
      top: 45px;
    }
  }

  div.bbp-the-content-wrapper textarea.bbp-the-content {
    font-family: @font-family-base;
    font-size: @font-size-base;
    min-height: 170px;
  }

  div.bbp-submit-wrapper {
    margin-top: -30px;
    padding-bottom: 0;
  }

  #bbp_topic_submit,
  #bbp_reply_submit {
    position: relative;
    top: -30px;
    font-size: 130%;
    padding: 8px 12px;
  }

  .bbp-topics .bbp-header {
    position: inherit !important;
  }

  //End BBPress Wrap
}

.group-forum-topic.wefoster-framework #bbpress-forums {
  .bbp-reply-author {
    text-indent: -99999px;
    color: #222;
  }

  .bbp-reply-author {
    span {
      text-indent: inherit !important;
    }
  }

  .bbp-body {
    position: relative;
    
    .bbp-reply-header {
      margin-bottom: 0;
    }

    .bbp-reply-author {
      text-indent: inherit;
    }

    .topic {
      border-bottom: @margin-full solid @body-bg !important;
      border-radius: 0;
      font-size: 105%;
      margin-bottom: -@margin-full !important;
      margin-left: -@margin-full !important;
      margin-right: -@margin-full !important;
      overflow: inherit;
      padding: @padding-one-half @padding-full !important;
      top: -30px;
      
      .bbp-reply-author {
        background: @brand-complimentary;
        border-right: none;
        
        a {
          color: @white;
        }
      }

      .bbp-author-ip {
        color: @white;
      }
    }

    .topic,
    .reply {
      position: relative;
      margin-bottom: @margin-full;
      border-bottom: 1px solid #f2f2f2;
      margin-bottom: 0;
      padding-bottom: @padding-full !important;
      position: relative;
    }
  }
}
