//
// WeFoster Stylekit: Please check out stylekit/*name*/less/*name*.less for source.
// You can use sourcemaps to find sources. See: https://developer.chrome.com/devtools/docs/css-preprocessors
//
@import "../../../assets/less/main.less";
// Change our variables
@brand-primary: #2c3e50;
@brand-secondary: #2c3e50;
@brand-complimentary: #2c3e50;
//This is a bit of weird way to fix the path loading error.
@font-face {
  font-family: 'FontAwesome';
  src: url(../../../assets/vendor/fontawesome/fonts/fontawesome-webfont.eot?v=@{fa-version});
  src: url(../../../assets/vendor/fontawesome/fonts/fontawesome-webfont.eot?#iefix&v=@{fa-version}) format('embedded-opentype'), url(../../../assets/vendor/fontawesome/fonts/fontawesome-webfont.woff?v=@{fa-version}) format('woff'), url(../../../assets/vendor/fontawesome/fonts/fontawesome-webfont.ttf?v=@{fa-version}) format('truetype'), url(../../../assets/vendor/fontawesome/fonts/fontawesome-webfont.svg?v=@{fa-version}#fontawesomeregular) format('svg');
  //  src: url('@{fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}