@brand-primary: #222;
@brand-secondary: #3566B4;
@brand-complimentary: #3566B4;
@link-color: @brand-secondary;
@link-hover-color: @link-color;
@color-base: #111;
@text-color: #111;
@gray-darker: lighten(@text-color, 5%);
@gray-dark: lighten(@text-color, 8%);
@gray: lighten(@text-color, 10%);
@gray-light: lighten(@text-color, 15%);
@gray-lighter: lighten(@text-color, 20%);
//
//Nav Colors
//
//
//Buttons Colors
//
@btn-success-bg: darken(@brand-complimentary, 10%);